.container {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
}

.card {
  flex: 1;
  padding: 100px;
  padding-right: 0;
  /* justify-content: space-around; */
  flex-direction: column;
  display: flex;
  position: relative;
  background-color: black;
}

.title {
  font-size: 50px;
  margin: 0;
  margin-bottom: 100px;
  text-transform: uppercase;
  color: #fff;
}

.brand {
  color: white;
}

.desc {
  font-size: 20px;
  color: black;
  margin: 0;
  margin-bottom: 100px;
  color: #fff;
  font-style: italic;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  line-height: 2rem;
  justify-content: center;
}

.button {
  color: black;
  text-transform: uppercase;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  padding: 20px;
  font-style: bold;
  font-size: 15px;
}

@media screen and(max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .card {
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .desc {
    display: none;
  }
  .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
