.container {
  display: flex;
  background-color: black;
  padding: 0 100px;
  height: 70px;
  color: aliceblue;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
}

.list_item {
  display: inline;
  font-size: 15px;
  color: aliceblue;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
